---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/all/
    body:
      encoding: UTF-8
      string: key=BITSTAMP_KEY&nonce=1517138409543659008&signature=40EB092F6648065C9E3D89D5DFF1644854B376C8FA3DEE76A3E43CEEC8E274B6
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-127773996-127750860 PNNN RT(1517138409312 114) q(0 0 0 -1) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "781.82", "currency_pair": "ETH/EUR", "datetime": "2018-01-26
        10:49:07", "amount": "1.27588188", "type": "0", "id": "837983329"}]'
  recorded_at: Sun, 28 Jan 2018 11:20:09 GMT
recorded_with: VCR 4.0.0
