---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btcusd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6163f-c0-563d3ae0ffee2"'
      Last-Modified:
      - Sun, 28 Jan 2018 10:34:53 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 6-53557648-0 0CNN RT(1517135701299 93) q(0 -1 -1 0) r(0 -1)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "11989.15", "last": "11847.99", "timestamp": "1517135692",
        "bid": "11801.09", "vwap": "11499.77", "volume": "11185.88675316", "low":
        "10815.84", "ask": "11829.86", "open": "11446.54"}'
  recorded_at: Sun, 28 Jan 2018 10:35:01 GMT
recorded_with: VCR 4.0.0
