---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/trading-pairs-info/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 18:04:42 GMT
      X-Iinfo:
      - 7-82939454-82924508 PNNN RT(1517162681528 111) q(0 0 0 -1) r(0 0) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"base_decimals": 8, "minimum_order": "5.0 USD", "name": "LTC/USD",
        "counter_decimals": 2, "trading": "Enabled", "url_symbol": "ltcusd", "description":
        "Litecoin / U.S. dollar"}, {"base_decimals": 8, "minimum_order": "5.0 USD",
        "name": "ETH/USD", "counter_decimals": 2, "trading": "Enabled", "url_symbol":
        "ethusd", "description": "Ether / U.S. dollar"}, {"base_decimals": 8, "minimum_order":
        "5.0 EUR", "name": "XRP/EUR", "counter_decimals": 5, "trading": "Enabled",
        "url_symbol": "xrpeur", "description": "XRP / Euro"}, {"base_decimals": 8,
        "minimum_order": "5.0 USD", "name": "BCH/USD", "counter_deci[...]
