---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/transactions/btcusd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-127632668-127560148 PNNN RT(1517137928370 113) q(0 0 0 -1) r(1 1) U10000
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"date": "1517137924", "tid": "49957720", "price": "11699.90", "type":
        "0", "amount": "0.01461107"}, {"date": "1517137924", "tid": "49957719", "price":
        "11699.90", "type": "0", "amount": "0.14993181"}, {"date": "1517137923", "tid":
        "49957718", "price": "11691.99", "type": "0", "amount": "0.00158204"}, {"date":
        "1517137923", "tid": "49957716", "price": "11691.99", "type": "0", "amount":
        "0.00158225"}, {"date": "1517137923", "tid": "49957714", "price": "11691.99",
        "type": "0", "amount": "0.00123991"}, {"date": "1517137923", "tid": "49957712"[...]
