---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/sell/eurusd/
    body:
      encoding: UTF-8
      string: amount=0.01&key=BITSTAMP_KEY&nonce=1517155779997062912&price=10000.0&signature=3EBBC9DD1B9E4E84BB9A0FBB97F73B1F6D8B0061A36AF9200271193B6977D4F2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 16:09:40 GMT
      X-Iinfo:
      - 5-82161272-82154717 PNNN RT(1517155779701 102) q(0 0 0 -1) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": "10000.00000", "amount": "0.01000", "type": "1", "id": "851361594",
        "datetime": "2018-01-28 16:09:40.226200"}'
  recorded_at: Sun, 28 Jan 2018 16:09:40 GMT
recorded_with: VCR 4.0.0
