---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/buy/etheur/
    body:
      encoding: UTF-8
      string: amount=0.01&key=BITSTAMP_KEY&nonce=1517154963322561024&price=501.0&signature=B391F913903C7753A3E1C8F3D7CAB9CAFAB51FE2E2130C8FDC21AF8A42E1514B
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 15:56:04 GMT
      X-Iinfo:
      - 7-81355135-81343631 PNNN RT(1517154963520 110) q(0 0 0 -1) r(1 1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": "501.00", "amount": "0.01000000", "type": "0", "id": "851307851",
        "datetime": "2018-01-28 15:56:04.055116"}'
  recorded_at: Sun, 28 Jan 2018 15:56:04 GMT
recorded_with: VCR 4.0.0
