partial_permissions:
  key: "PARTIAL_PERMISSIONS_KEY"
  secret: "PARTIAL_PERMISSIONS_SECRET"
  client_id: "PARTIAL_PERMISSIONS_CLIENT_ID"

full_permissions:
  key: "FULL_PERMISSIONS_KEY"
  secret: "FULL_PERMISSIONS_SECRET"
  client_id: "FULL_PERMISSIONS_CLIENT_ID"
