---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/sell/eurusd/
    body:
      encoding: UTF-8
      string: amount=0.01&key=BITSTAMP_KEY&nonce=1517155779406746112&price=10000.0&signature=2D7A1048AE04F84B36B06C1C19B6A5B044512D35CB7A986D59AE7847A258AB81
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 16:09:39 GMT
      X-Iinfo:
      - 8-97763178-97762727 PNNN RT(1517155779124 114) q(0 0 0 -1) r(1 1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": "10000.00000", "amount": "0.01000", "type": "1", "id": "851361545",
        "datetime": "2018-01-28 16:09:39.657661"}'
  recorded_at: Sun, 28 Jan 2018 16:09:39 GMT
recorded_with: VCR 4.0.0
