---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/sell/eurusd/
    body:
      encoding: UTF-8
      string: amount=0.01&key=BITSTAMP_KEY&nonce=1517155780591845120&price=10000.0&signature=AACD11CBA202CC9BD8AD4E6990E40B87144FCC14BCFBEDF00B7EBF3AD9F85B2D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 16:09:40 GMT
      X-Iinfo:
      - 3-48276994-48274058 PNNN RT(1517155780303 112) q(0 0 0 -1) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": "10000.00000", "amount": "0.01000", "type": "1", "id": "851361618",
        "datetime": "2018-01-28 16:09:40.837237"}'
  recorded_at: Sun, 28 Jan 2018 16:09:40 GMT
recorded_with: VCR 4.0.0
