---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/buy/etheur/
    body:
      encoding: UTF-8
      string: amount=0.01&key=BITSTAMP_KEY&nonce=1517154497499764992&price=501.0&signature=2C410838FA53D477F947EC1E57DC1394FC1C40DBD2BA8B22D8FD8D6B6C384D20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 15:48:17 GMT
      X-Iinfo:
      - 7-81261083-81257888 PNNN RT(1517154497201 99) q(0 1 1 -1) r(1 1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": "501.00", "amount": "0.01000000", "type": "0", "id": "851277658",
        "datetime": "2018-01-28 15:48:17.726248"}'
  recorded_at: Sun, 28 Jan 2018 15:48:17 GMT
recorded_with: VCR 4.0.0
