---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/cancel_order/
    body:
      encoding: UTF-8
      string: id=851176948&key=BITSTAMP_KEY&nonce=1517153035070355968&signature=9C5302EEAE1AB3779D394B7B77A6535459D5950C0CE2BC5F64D93FEFE54C65AC
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 15:23:55 GMT
      X-Iinfo:
      - 7-80964412-80892333 PNNN RT(1517153034782 110) q(0 0 0 -1) r(1 1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": 501.00000000, "amount": 0.01000000, "type": 0, "id": 851176948}'
  recorded_at: Sun, 28 Jan 2018 15:23:55 GMT
recorded_with: VCR 4.0.0
