---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/user_transactions/
    body:
      encoding: UTF-8
      string: key=BITSTAMP_KEY&limit=100&nonce=1517137398100633088&offset=0&signature=32B960984AC835923A69DA71DBE4DDCF63C9EFC71D9E391708F98F49E95DE427&sort=desc
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 11:03:18 GMT
      X-Iinfo:
      - 6-53779484-53761867 PNNN RT(1517137397870 297) q(0 0 0 -1) r(1 1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"fee": "0.00", "btc_usd": "0.00", "datetime": "2018-01-24 13:15:08",
        "usd": 0.0, "btc": 0.0, "type": "0", "id": 49313217, "eur": "500.00"}, {"fee":
        "0.00", "btc_usd": "0.00", "datetime": "2018-01-23 14:30:17", "usd": 0.0,
        "btc": 0.0, "type": "0", "id": 49112139, "eur": "500.00"}, {"fee": "0.00000000",
        "btc_usd": "0.00", "datetime": "2018-01-20 12:00:22", "ltc": "-5.52069115",
        "usd": 0.0, "btc": 0.0, "type": "1", "id": 48337959, "eur": 0.0}, {"fee":
        "2.29", "ltc_eur": 165.81000000, "order_id": 800679456, "datetime": "2018-01-20
        11:55:22", "ltc": "5.52069115", "usd": 0.0, "btc": 0.0, "type": "2", "id":
        48337064, "eur": "-915.39"}, {"fee": "0.23000000", "order_id": 799866367,
        "datetime": "2018-01-20 08:20:59", "usd": 0.0, "btc": 0.0, "eth": "-0.10000000",
        "eth_eur": 919.99000000, "type": "2", "id": 48312136, "eur": "92.00"}, {"fee":
        "2.07000000", "order_id": 799866367, "datetime": "2018-01-20 08:20:58", "usd":
        0.0, "btc": 0.0, "eth": "-0.90000000", "eth_eur": 919.99000000, "type": "2",
        "id": 48312132, "eur": "827.99"}, {"fee": "0.00000000", "btc_usd": "0.00",
        "datetime": "2018-01-20 07:24:55", "usd": 0.0, "btc": 0.0, "eth": "1.00000000",
        "type": "0", "id": 48304606, "eur": 0.0}, {"fee": "0.00000000", "btc_usd":
     [...]
