---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/buy/etheur/
    body:
      encoding: UTF-8
      string: amount=1.0e-10&key=BITSTAMP_KEY&nonce=1517154406209063936&price=501.0&signature=DD516493BD5EDB9084137591660E7103F6A13145C80591F72265BCB7364C0634
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 15:46:46 GMT
      X-Iinfo:
      - 0-17872844-17872848 NNNN CT(16 19 0) RT(1517154405903 84) q(0 0 1 0) r(1 1)
        U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"status": "error", "reason": {"amount": ["Ensure that there are no
        more than 8 decimal places."], "__all__": [""]}}'
  recorded_at: Sun, 28 Jan 2018 15:46:46 GMT
recorded_with: VCR 4.0.0
