---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/buy/etheur/
    body:
      encoding: UTF-8
      string: amount=0.01&key=BITSTAMP_KEY&nonce=1517154405888056064&price=501.0&signature=1626BB70B89A8F7C5E0576FEBD52C79C9D94C5157E0D542A0FC4FF49914CE2A0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 15:46:46 GMT
      X-Iinfo:
      - 9-115113790-114929587 PNNN RT(1517154405635 101) q(0 0 0 1) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": "501.00", "amount": "0.01000000", "type": "0", "id": "851272165",
        "datetime": "2018-01-28 15:46:46.159632"}'
  recorded_at: Sun, 28 Jan 2018 15:46:46 GMT
recorded_with: VCR 4.0.0
