---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/buy/etheur/
    body:
      encoding: UTF-8
      string: amount=0.01&key=BITSTAMP_KEY&nonce=1517153034519780096&price=501.0&signature=2345A7F39D6FDBE668F72F8BF79C8D394351591DA115D286E73F06E8F9D39D29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 15:23:54 GMT
      X-Iinfo:
      - 2-34960295-34941767 PNNN RT(1517153034218 93) q(0 0 0 -1) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": "501.00", "amount": "0.01000000", "type": "0", "id": "851178914",
        "datetime": "2018-01-28 15:23:54.740227"}'
  recorded_at: Sun, 28 Jan 2018 15:23:54 GMT
recorded_with: VCR 4.0.0
