---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/sell/eurusd/
    body:
      encoding: UTF-8
      string: amount=1.0e-18&key=BITSTAMP_KEY&nonce=1517155781171758080&price=5000.0&signature=DEE5F9121A880141D63CE4ED2B8E542691E5CD0980335FD5AB048C9A682EC3F3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 16:09:41 GMT
      X-Iinfo:
      - 7-81522887-81504587 PNNN RT(1517155780868 95) q(0 0 0 -1) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"status": "error", "reason": {"amount": ["Ensure that there are no
        more than 5 decimal places."], "__all__": [""]}}'
  recorded_at: Sun, 28 Jan 2018 16:09:41 GMT
recorded_with: VCR 4.0.0
