---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/sell/eurusd/
    body:
      encoding: UTF-8
      string: amount=0.01&key=BITSTAMP_KEY&nonce=1517155781408886016&price=10000.0&signature=F9D3BCD1C039AB7B5766C6077D77DA36B59C104926C2B7602F1388041A0F6C16
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 28 Jan 2018 16:09:41 GMT
      X-Iinfo:
      - 7-81522931-81522951 NNNN CT(15 18 0) RT(1517155781109 94) q(0 0 0 -1) r(1
        1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": "10000.00000", "amount": "0.01000", "type": "1", "id": "851361663",
        "datetime": "2018-01-28 16:09:41.658617"}'
  recorded_at: Sun, 28 Jan 2018 16:09:41 GMT
recorded_with: VCR 4.0.0
